
/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background-image: url(../img/97048.jpg);
  background-size:cover;
}
#container {
  margin-top: 200px;
}
section {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(211, 211, 211, 0.719) ;
}
h1, h2{
  text-align: center;
  color: rgb(255, 255, 255);
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100px;
  height: 200px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  text-align: center;
  width: 94px;
  height: 49px;
  border: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
